//fonts style

@mixin font($color: white, $size: 1rem, $weight: normal, $decor: none) {
  font-family: helvetica, serif;
  font-size: $size;
  color: $color;
  font-weight: $weight;
  text-decoration: $decor;
};

// indents

@mixin indents($padtop, $padright, $padbottom, $padleft, $margtop, $margright, $margbottom, $margleft) {
  padding-top: $padtop;
  padding-right: $padright;
  padding-bottom: $padbottom;
  padding-left: $padleft;
  margin-top: $margtop;
  margin-right: $margright;
  margin-bottom: $margbottom;
  margin-left: $margleft;
}

//adaptive mixin

@mixin adaptive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint){

    @if ($breakpoint==extraLarge){
      @media(min-width: map-get($breakpoints, $breakpoint)){
        @content;
      }
    }

    @else if ($breakpoint==large) {
      @media (min-width: map-get($breakpoints, $breakpoint)) and (max-width: 1199px){
        @content;
      }
    }

    @else if ($breakpoint == medium) {
      @media (min-width: map-get($breakpoints, $breakpoint)) and (max-width:991px){
        @content;
      }
    }

    @else if ($breakpoint == small) {
      @media (min-width: map-get($breakpoints, $breakpoint)) and (max-width: 767px ){
        @content;
      }
    }

    @else if ($breakpoint == extraSmall) {
      @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }

    @else {
      @warn ("Error, enter your breakpoint in map");
    }
  }
}
